$sm = 768px
$bg = 1024px
$md = 1300px
$lg = 1450px
$lg-c-width = 900px
$md-c-width = 700px
$default-font = sans-serif
$font-family = 'Monaco', $default-font
$code-font = consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace, Helvetica Neue For Number, $default-font
$home-font = apolline, serif, $default-font
$cute-font = 'Monaco', $default-font
$code-font = consolas,Menlo,"PingFang SC","Microsoft YaHei",monospace,Helvetica Neue For Number,$default-font
$foot-font = $default-font
$font-size = .7rem
$bg-rem = 20px
$sm-rem = 16px
$nav-size = 18px
$b-title-size = 1.5rem
$s-title-size = 1.2rem
$post-font-size = 14px
$title-color = #2e2e2e
$g-bg-color = #f9f9f9
$p-bg-color = #fff
$gray = #555
$btn-color = #fc635e #fec242 #35cd4b
$light-blue = #6bccf9
$dark-green = #25bf33
$dark-red = #fc635e
$dark-gray = #574c4c
$black = #000