.one-tag-list
  @extend $layout-inner
  margin-bottom: 50px
  border: 0
  box-shadow 0 0 0 #ffff
  .tag-title
    margin-left: 15px
    font-size: 20px 
    color: #5da0c8
  i
    color: #5da0c8
  .post-title
    margin: 1rem 0 1rem 40px
    font-size: 18px 