#footer-inner
  .social-icons
    each url, name in theme.social
      a.social-icon(href=url target="_blank")
        i.fa(class='fa-'+name)
  p.copyright= `Copyright © ${config.author} Blog ${new Date().get}` 