#footer-inner
  .social-icons
    a.social-icon(href="" target="_blank")
      i.fa.fa-github
    a.social-icon(href="" target="_blank")
      i.fa.fa-weibo
    a.social-icon(href="" target="_blank")
      i.fa.fa-twitter
  p.copyright= `Copyright © ${config.author} Blog 2017` 