include ./terminal/terminal-util.pug

#terminal-pl
  #top-bar
    ul#control
      li.btn
      li.btn
      li.btn
    #file-path #[i(class="fa fa-folder folder-ic" aria-hidden="true")] #{config.author} 10 X 10
  #code-pl
    if is_home()
      +terminal_print_cmd_in_yaml(theme.terminal.home)
      include ./terminal/terminal-home.pug
    if is_post()
      +terminal_print_cmd_in_yaml(theme.terminal.post)
      include ./terminal/terminal-post.pug
    if is_current("/categories")
      +terminal_print_cmd_in_yaml(theme.terminal.categories)
      include ./terminal/terminal-categories.pug
      +terminal_print_archives()
    if is_current("/tags")
      +terminal_print_cmd_in_yaml(theme.terminal.tags)
      include ./terminal/terminal-tags.pug
      +terminal_print_archives()
    if is_current("/about")
      +terminal_print_cmd_in_yaml(theme.terminal.about)