
#terminal-pl
  #top-bar
    ul#control
      li.btn
      li.btn
      li.btn
    #file-path #[i(class="fa fa-folder folder-ic" aria-hidden="true")] #{config.author} 10 X 10
  #code-pl
    | Last updated: Sun May 21 09:41:00
    br
    | Sheep:~ Desktop$ 
    span(class="code-pl-input") node about.js

    br
    br
    | > Sheep.location
    br
    span(class="anwser") 'Beijng, Chongqing'
    br
    br
    | > Sheep.education
    br
    span(class="anwser") 'BUPT'
    br
    br
    | > Sheep.interests
    br
    | [
    span(class="anwser") 'coding', 'basketball', 'sleeping', 'reading'
    | ]
    br
    br
    | > Sheep.github
    br
    a(href="https://github.com/lazysheep666" target="_blank")
      span(class="answer") github.com/lazysheep666
    br
    br
    | > Sheep.email
    br
    a(href="mailto:714201376@qq.com")
      span(class="answer") 'mail to sheep'
    br
  