#footer-inner
  padding-bottom: 3rem
  font-family: $foot-font
  text-align: center
  .social-icons
    font-size: 1.8rem
    text-align: center
    .social-icon
      margin: 0 .5rem
      &:hover
        color: #000
    
  .copyright
    font-size: 14px
