#header-nav
  padding: 10px 1.8rem
  width: 100%
  font-size: $nav-size
  
  &.fixed
    position: fixed
    top: -60px
    left: 0
    background-color: #fff
    box-shadow: 0 5px 6px -5px rgba(133,133,133,.6)
    z-index: 999
    transition .2s all ease-in-out
  &.visible
    top: 0px
  a
    text-decoration: none
    color: $gray
    &:hover
      color: $black
  .site-page
    padding: .5rem
    padding-left: 1rem
  #toggle-nav
    color: $gray
    display: none
    &:hover
      color: $black

#page-home
  font-family: $home-font
  font-weight: bold

#site-info 
  @extend $box-outer

#terminal-pl
  @extend $box-inner
  font-family: $cute-font

#top-bar
  position: relative
  font-size: .8rem

#control 
  position: absolute
  margin: 0
  padding: .4rem
  list-style: none 
  .btn
    display: inline-block
    margin: .1rem
    width: .6rem
    height: .6rem
    border-radius: 100%
    for num in 0 1 2
      &:nth-child({num + 1})
        background-color: $btn-color[num]

#file-path
  padding: .4rem 0
  text-align: center
  .folder-ic
    margin-right: .2rem
    color: $light-blue

#code-pl
  padding: 1rem 1.5rem
  border-radius: 5px
  border-top-left-radius: 0
  border-top-right-radius: 0
  color: #fff
  background: #383737
  .anwser,
  a
    color: $dark-green
  a
    text-decoration: underline
  .code-pl-input
    color: $dark-red
    
@media screen and (max-width: $sm)
  #header-nav
    #toggle-nav
      display: block
      padding: .6rem
      cursor: pointer
    .in
      visibility: visible !important
      opacity: 1 !important
      transform: translateY(0px) !important
    #navs
      visibility: hidden
      position: absolute
      top: 4rem
      right: 1rem
      width: 170px
      background: #fff
      opacity: 0
      z-index: 999
      box-shadow: 0 5px 10px 2px rgba(0,0,0,.2);
      transform: translateY(-20px)
      transition .2s all ease-in-out
      a
        display: block
        color: #777
        &:hover
          color: #000

