.highlight
  margin: 1rem 0
  border-radius: 4px
  color: #fff
  background-color: #272822
  overflow: auto

pre
  margin: 0
  padding: .4rem
  font-family: $code-font
  font-size: 14px
  line-height: 20px
  .keyword,
  .selector-id
    color: #89ddff
  .title,
  .selector-class
    color: #ffcb6b
  .params
    color: #f78c6c
  .number,
  .string
    color: #c3e88d
  .function
    color: #82aaff
  .comment
    color: #666
.gutter
  pre
    color: #666
    text-align: right
  