.clear-fix
  &::after
    content: ''
    width: 0
    height: 0
    display: block
    clear: both

transition(s)
  -webkit-transition: s all ease-in-out
  -moz-transition: s all ease-in-out
  transition: s all ease-in-out